body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    margin: 5px 0;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    color: #555;
    font-size: 1.1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px; /* Augmentation de la marge intérieure */
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 1.2em; /* Augmentation de la taille de la police */
}
